.box
{
    width: 100%;
    height: 100vh;

    background-color: red;

    background-image: url(./src/photo1.jpg);

    background-position: 20px 650px; /* x / y ou center*/

    background-size: cover; /* cover, contains, % */

    background-repeat: no-repeat; /* repeat, no repeat*/

    background: no-repeat center / cover url("./src/photo1.jpg");

    background-attachment: fixed;
}